    <div class="card filter">
        <div class="card-header">
            <strong>Filter</strong>
        </div>
        <div class="card-body">
            <form class="form-group">
                <label for="from">From</label>  
                <input type="number" class="form-control">   
                
                <label for="to">To</label>
                    <input type="number" class="form-control">   
                      </form>
        <button class="btn btn-primary btn-block btn-sm">Filter by price</button> 
        
        </div>
    </div>    
    